<main class="main">
  <div class="container app-page-header">
    <div class="page-header" style="background-image: url(assets/images/about/about_banner.jpg)">
      <h1 class="page-title"></h1>
    </div>
  </div>
  <div class="page-content mt-10 pt-7">
    <section class="about-section">
      <div class="container">
        <h2 class="title mb-lg-9">AYDINLIK BİR TÜRKİYE İÇİN</h2>
        <div class="row mb-10">
          <div class="col-md-6 pt-md-5">
            <p class="text-uppercase text-grey mb-0" style="font-weight: bold;">
              BİZ KİMİZ?
            </p>
            <h5 class="lh-1 ls-m"></h5>
            <p class="font-primary font-weight-semi-bold app-custom app-text">
              2004 yılında kurulan 3N Aydınlatma, geçmişten günümüze kadar
              sürdürdüğü hizmet anlayışı ile aydınlatma sektöründe Türkiye'nin
              önde gelen firmaları arasında yer almakta ve bölgesel lider olma
              vizyonuyla hareket etmektedir.
            </p>
            <p class="mb-8 app-custom app-text">
              3N Aydınlatma'nın ulaştığı başarının arkasında, müşteri odaklı ve
              verimliliği merkez alan bir yönetim yaklaşımı vardır. Bu yaklaşım,
              sadece maddi kazanımlarla değil, bütün toplumun yararlandığı ve
              yararlanacağı kurumsal yurttaşlık bilinciyle iç içe gelişmektedir.
            </p>
          </div>
          <div class="col-md-6 pt-md-5">
            <p class="text-uppercase text-grey mb-0"><br /></p>
            <h5 class="lh-1 ls-m"></h5>
            <p class="app-custom app-text">
              Perakende, finans, otomotiv, lojistik gibi alanlarda
              gerçekleştirdiğimiz başarılı projelerin odağında müşterilerimizin
              ihtiyaç ve beklentilerini karşılamaya yönelik iş anlayışımız yer
              almaktadır. Uluslararası firmalarla sürdürdüğümüz işbirlikleri ile
              yolumuza devam ederken Türkiye'nin yanı sıra birçok ülkede, dünya
              standartlarında faaliyetlerimizi sürdürmekteyiz.
            </p>
            <p class="mb-8 app-custom app-text">
              Üstün teknoloji, yüksek kalite ve dinamik bir insan kaynağını
              sektörümüzün kullanımına sunmaktayız. Enerji kullanımını
              kaynakların verimli kullanılması ilkesi ile yönettiğimiz
              çalışmalarımızda, müşteri ihtiyaç ve beklentilerini tasarruflu
              ürün ve ekipmanlarla karşılamaya önem vermekteyiz.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="clients-section grey-section pt-10 pb-10" *ngIf="false">
      <div class="container">
        <h2 class="title mt-3">MÜŞTERİLERİMİZ</h2>
        <div
          class="owl-carousel owl-theme row brand-carousel cols-xl-6 cols-lg-5 cols-md-4 cols-sm-3 cols-2 gutter-no pt-1"
          data-owl-options="{
                  'items': 7,
                  'nav': false,
                  'dots': false,
                  'autoplay': true,
                  'margin': 30,
                  'loop': true,
                  'responsive': {
                      '0': {
                          'items': 2
                      },
                      '576': {
                          'items': 3
                      },
                      '768': {
                          'items': 4
                      },
                      '992': {
                          'items': 5
                      },
                      '1200': {
                          'items': 6
                      }
                  }
              }">
          <figure>
            <img src="assets/images/customers/logo1.png" alt="brand" width="180" height="100" />
          </figure>
          <figure>
            <img src="assets/images/customers/logo2.png" alt="brand" width="180" height="100" />
          </figure>
          <figure>
            <img src="assets/images/customers/logo3.png" alt="brand" width="180" height="100" />
          </figure>
          <figure>
            <img src="assets/images/customers/logo4.png" alt="brand" width="180" height="100" />
          </figure>
          <figure>
            <img src="assets/images/customers/logo5.png" alt="brand" width="180" height="100" />
          </figure>
          <figure>
            <img src="assets/images/customers/logo6.png" alt="brand" width="180" height="100" />
          </figure>
        </div>
      </div>
    </section>

    <section class="about-section" style="padding-top: 5rem">
      <div class="container">
        <h2 class="title mb-lg-9" *ngIf="false">EKİBİMİZ</h2>
        <div class="row mb-10">
          <div class="col-md-6 pt-md-5">
            <p class="text-uppercase text-grey mb-0" style="font-weight: bold">
              VİZYON
            </p>
            <h5 class="lh-1 ls-m"></h5>
            <p class="font-primary font-weight-semi-bold app-custom app-text"></p>
            <p class="mb-8 app-custom app-text">
              3N Aydınlatma olarak tamamladığımız her projede sıkı çalışma, detaylara dikkat ve kararlılık gösteriyoruz.
              Projelerini başarıyla, zamanında ve bütçe dahilinde tamamlamak için müşterilerimize yenilikçi fikirler,
              uygun ekipman ve güncel teknolojiler sunmayı vizyonumuz olarak benimsiyoruz.
            </p>
          </div>
          <div class="col-md-6 pt-md-5">
            <p class="text-uppercase text-grey mb-0" style="font-weight: bold">
              MİSYON
            </p>
            <h5 class="lh-1 ls-m"></h5>
            <p class="app-custom app-text"></p>
            <p class="mb-8 app-custom app-text">
              3N Aydınlatma kendini, gerçekleştirdiği tüm projelerde en uygun fiyata, en kaliteli elektrik hizmetlerini
              sunmaya adamıştır. Yüksek yetenekli çalışanlardan oluşan ekibimiz ile, projenizi başlangıçtan bitişine
              kadar tüm İş Güvenliği kurallarına uyarak gerçekleştirir ve zamanında teslim etme gayreti ile çalışırız.
            </p>
          </div>
        </div>
        <div class="row mb-10">
          <div class="col-md-6" style="margin-bottom: 0.25em;">
            <iframe class="app-custom app-video" width="100%" src="https://www.youtube-nocookie.com/embed/olbXtvpGz3w"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
          <div class="col-md-6">
            <div class="app-image-container afirst">
              <figure>
                <img class="app-custom app-image" src="assets/images/about/ekibimiz_1.jpg" alt="banner" width="100%"
                  height="100%" />
              </figure>
            </div>
            <div class="app-image-container asecond">
              <figure>
                <img class="app-custom app-image" src="assets/images/about/ekibimiz_2.jpg" alt="banner" width="100%"
                  height="100%" />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about-section">
      <div class="container">
        <h2 class="title mb-lg-9" *ngIf="false">ÜRETİM</h2>
        <div class="row mb-10">
          <div class="col-md-6 pt-md-5">
            <p class="text-uppercase text-grey mb-0" style="font-weight: bold">
              KALİTE POLİTİKAMIZ
            </p>
            <h5 class="lh-1 ls-m"></h5>
            <p class="font-primary font-weight-semi-bold app-custom app-text"></p>
            <p class="mb-8 app-custom app-text">
              Şirketimizin vizyonu doğrultusunda, gelişen ve güncel teknolojileri kullanarak, müşteri beklentilerini
              aşarak karşılayan, ulaşılabilir ve kullanılabilir, güvenilir ürünleri geliştirir, üretir ve satış sonrası
              hizmet veririz.
              <br>
              • Kalite yönetim sistemimizin ISO 9001 standardının gereklerini yerine getirecek şekilde dokümante
              edilmesi, belgelendirilmesi ve sürekli iyileştirilmesi,
              <br>
              • İş Süreçlerimizde Kalite Felsefesini esas alarak, takım ruhu içerisinde şirket ve birim hedeflerine
              ulaşılması,
              <br>
              • İş süreçlerimizin özdeğerlendirme süreci ile gözden geçirilerek, performansımızı geliştirecek önleyici
              yaklaşımların belirlenmesi,
              <br>
              • Sürekli iyileştirme yaklaşımı doğrultusunda tüm süreçlerimizdeki verimliliğin uluslararası düzeyde
              rekabet edebilecek seviyeye yükseltilmesi,
              <br>
              • Yenilikçi ve yaratıcı yaklaşımların cesaretlendirilmesi, teknik ve davranışsal yetkinlikleri artıracak
              eğitimlerin gerçekleştirilmesi
              <br>
              yönünde faaliyetlerimizi Çevre, İş Sağlığı ve Güvenliği Yönetim Sistemleri ile birlikte bütünleşik bir
              şekilde yöneterek, aydınlatma sektöründe kalite açısından öncülüğümüzle örnek bir kuruluş olmak için tüm
              gücümüzle çalışırız.
            </p>
            <P>

            </P>
          </div>
          <div class="col-md-6 pt-md-5">
            <p class="text-uppercase text-grey mb-0" style="font-weight: bold">
              ÇEVRE POLİTİKAMIZ
            </p>
            <h5 class="lh-1 ls-m"></h5>
            <p class="app-custom app-text"></p>
            <p class="mb-8 app-custom app-text">
              Çevre ve enerji politikamız kapsamında,
              <br>
              1. Ürettiğimiz tüm ürünlerde yaşam döngüsü boyunca enerji tüketimini ve kaynak kullanımını azaltarak
              çevresel performansımızı ve enerji verimliliğini artırmak için sürekli çalışıyoruz.
              <br>
              2. Uyum yükümlülüklerimizi yerine getirmeyi taahhüt ediyoruz.
              <br>
              3. Çevresel zararları ve enerji israfını önlemek için tüm gerekli önlemleri alıyoruz.
              <br>
              4. Uygun çevre ve enerji yönetimiyle, çevre politikamızın etkin bir şekilde uygulanmasını sağlıyoruz.
              Şirketin ekonomik boyutları kapsamında gerekli finansal ve yapısal koşullar sağlanmaktadır.
              <br>
              5. Çevre dostu ve enerji bilincine sahip bir şekilde davranmak, tüm çalışanların görevlerinden biridir.
              Yöneticiler her kademede çevre bilincini teşvik ederler.
              <br>
              6. Sözleşmeli iş ortaklarımızın da eşdeğer çevre ve enerji kurallarına uygun hareket etmesini bekleriz.
              <br>
              7. Yetkili makamlarla işbirliği içinde birlikte çalışırız.
              <br>
              8. Şirketin faaliyetleri ve etkileri ile çevre ve enerji ile ilgili hizmetlerimiz hakkında gerekli
              mercileri bilgilendiriyoruz.
              <br>
              9. Düzenli denetimler yoluyla teknik ve organizasyonel prosedürlerimizin çevre ve enerji tüketimini nasıl
              etkilediğini kontrol ederek, bu prosedürleri sürekli geliştirmeyi ve iyileştirmeyi amaçlıyoruz.

            </p>
          </div>
        </div>
        <div class="row mb-10">
          <div class="col-md-6">
            <div class="app-image-container afirst">
              <figure>
                <img class="app-custom app-image" src="assets/images/about/makine_1.jpg" alt="banner" width="100%"
                  height="100%" />
              </figure>
            </div>
            <div class="app-image-container asecond">
              <figure>
                <img class="app-custom app-image" src="assets/images/about/makine_2.jpg" alt="banner" width="100%"
                  height="100%" />
              </figure>
            </div>
          </div>
          <div class="col-md-6" style="margin-top: 0.25em;">
            <iframe class="app-custom app-video" width="100%" src="https://www.youtube-nocookie.com/embed/TXF7rWX6RF0"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
          <div class="col-md-6 pt-md-5">
            <p class="text-uppercase text-grey mb-0" style="font-weight: bold">
              ENTEGRE VE YÖNETİM SİSTEMİ POLİTİKASI
            </p>
            <h5 class="lh-1 ls-m"></h5>
            <p class="app-custom app-text"></p>
            <p class="mb-8 app-custom app-text">
              3N olarak, gerçekleştirdiğimiz projelerle edindiğimiz tecrübeyi yenilikçi, ekonomik pano üretimi alanında devam ettirmek üzere, modern teknolojiyi kullanan üretim tesislerinde hizmet vermek, Entegre Yönetim Sistemleri ile yasal gereklilikler doğrultusunda hareket ederek; müşteri, paydaş ve çalışanlarımızın güvenini kazanmayı ve sürdürülebilir bir kalkınmayı hedefliyoruz.
              <br>
              Bunun için hizmet süreçlerimiz sırasında;
              <br>
              • Alınan tedbirler ile çalışan ve paydaşlarımızın İş Sağlığı ve Güvenliği’nin devamının sağlanması,
              <br>
              • Çevre amaç, etki ve boyutlarının belirlenip analiz edilerek doğal çevrenin korunmasının sağlanması,
              <br>
              • Atıkların azaltılarak ve kaynağında toplanarak geri dönüşüm oranının arttırılması,
              <br>
              • Doğal kaynak ve enerjinin verimli kullanılması,
              <br>
              • Daha yaşanılır bir çevre için çevreci kurum ve kuruluşlarla işbirliği yapılması,
              <br>
              • Müşteri odaklı beklentilerin karşılanması,
              <br>
              • Teknolojik gelişmelerin takip edilerek güncelliğin sağlanması,
            </p>
          </div>
          <div class="col-md-6 pt-md-5">
            <p class="text-uppercase text-grey mb-0" style="font-weight: bold">
             &nbsp;
            </p>
            <h5 class="lh-1 ls-m"></h5>
            <p class="app-custom app-text"></p>
            <p class="mb-8 app-custom app-text">
              • Acil durumlara müdahale edilerek iş sürekliliğinin sağlanması,
              <br>
              • Müşterilerimize ve rakiplerimize haksız rekabet yapılmaması ve etik değerlerin korunması,
              <br>
              • Şeffaf politikalar yürütülmesini amaç edinerek
              <br>
              • Kirliliğin kaynağında önlenmesi
              <br>
              • İklim değişikliğine karşı duyarlı, temiz ve sağlıklı bir çevrenin gelecek nesillere aktarılması
              <br>
              • Çevreyle ilgili mevzuata ve idari düzenlemelere uyacaktır.
              <br>
              • Çevresel açıdan sürekli gelişmeyi sağlayacaktır.
              <br>
              • Kalite yönetim sisteminin sürekli iyileştirilmesini ve geliştirilmesini sağlamak
              <br>
              ISO 9001, ISO 14001 ve ISO 45001 standart gerekliliklerini tüm çalışanlarımız, paydaşlarımız ve müşterilerimizin katılımıyla uygulamayı ve sürekli geliştirerek sürdürülebilirliği sağlamayı ve uygunluk yükümlülüklerinin yerine getirilmesini taahhüt ediyoruz.
              <br>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>