<footer class="footer app-custom app-footer">
  <div class="container app-custom app-footer-container">
    <div class="footer-middle app-custom app-footer-middle">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="widget widget-about">
            <a href="/" class="logo-footer">
              <img src="assets/images/logo.svg" alt="logo-footer" width="163" height="39" />
            </a>
            <div class="widget-body">
              <p>
                {{ 'FOOTER1' | translate }} <br />
                {{ 'FOOTER2' | translate }} <br />
                {{ 'FOOTER3' | translate }} <br />
                {{ 'FOOTER4' | translate }} <br />
              </p>
              <p>
                {{ 'FOOTER5' | translate }}
              </p>
              <a href="https://agid.org.tr/" target="_blank"> <img src="../../../assets/images/footer/1.png" alt=""
                  width="78" height="78" /></a>
              &nbsp;
              <a href="https://www.immib.org.tr/tr/default.html" target="_blank">
                <img src="../../../assets/images/footer/2.png" alt="" width="78" height="78" />
              </a>
              &nbsp;
              <a href="https://iso.org.tr" target="_blank">
                <img src="../../../assets/images/footer/3.png" alt="" width="45" height="78" />
              </a>


            </div>
          </div>
          <!-- End Widget -->
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="widget widget-contact">
            <h4 class="widget-title">{{ 'CORPORATE' | translate }}</h4>
            <ul class="widget-body">
              <li>
                <a href="/aboutus">{{ 'ABOUT_US' | translate }}</a>
              </li>
              <li>
                <a href="/references">{{ 'REFERENCES' | translate }}</a>
              </li>
              <li>
                <a href="/career">{{ 'CARRIER' | translate }}</a>
              </li>
              <li>
                <a href="/sertifikalar">{{ 'CERTIFICATE' | translate }}</a>
              </li>
              <li>
                <a href="/contact">{{ 'CONTRACT' | translate }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="widget widget-contact">
            <ul class="widget-body">
              <li>
                <label>{{ 'ADDRESS' | translate }}</label>
                <a href="#">
                  Ziya Gökalp Mahallesi, Atatürk Blv. <br />
                  No:42, 34490 İkitelli <br />
                  Osb/Başakşehir/İstanbul
                </a>
              </li>
              <li>
                <label>{{ 'PHONE_UP' | translate }}</label>
                <a href="tel:+902124383223">+90 212 438 32 23</a>
              </li>
              <li>
                <label>FAX</label>
                <a href="fax:+902124383224">+90 212 438 32 24</a>
              </li>
              <li>
                <label>{{ 'EMAIL_UP' | translate }}</label>
                <a href="mailto:info@3naydinlatma.com.tr">info@3naydinlatma.com.tr</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-left">
        <div class="social-links">
          <a href="https://www.facebook.com/3naydinlatma/" target="_blank"
            class="social-link social-facebook fab fa-facebook-f"></a>
          <a href="https://www.instagram.com/3naydinlatma/" target="_blank"
            class="social-link social-instagram fab fa-instagram"></a>
          <a href="https://www.youtube.com/3naydinlatma" target="_blank"
            class="social-link social-google fab fa-youtube"></a>
          <a href="https://www.linkedin.com/company/3naydinlatma" target="_blank"
            class="social-link social-linkedin fab fa-linkedin-in"></a>
        </div>
      </div>
      <div class="footer-center">
        <span>Copyright © 2021, {{ 'ALL_RIGHT_RESERVED' | translate }}</span>
      </div>
      <div class="footer-right">
        <a class="app-copyright" href="http://c4agency.com/" target="_blank">
          <img class="app-c4-logo" src="assets/images/c4_f_logo.png" />
        </a>
      </div>
    </div>
  </div>
</footer>