<section class="banner banner-newsletter mt-5 mb-5 app-custom app-banner-newsletter">
  <div class="container">
    <div class="banner-content app-custom app-banner-content">
      <div
        class="icon-box icon-box-side mb-4 mb-lg-0 mr-5 appear-animate fadeInLeftShorter appear-animation-visible"
        data-animation-options="{
              'name':'fadeInLeftShorter',
              'delay': '.2s'
          }"
        style="animation-duration: 1.2s"
      >
        <div class="icon-box-icon">
          <i class="far fa-envelope"></i>
        </div>
        <div class="icon-box-content">
          <h4 class="icon-box-title">
            MAIL BÜLTENİMİZE ABONE OLUN
          </h4>
          <p>
            Etkinlikler, indirimler ve tekliflerle ilgili en son bilgileri alın.
          </p>
        </div>
      </div>
      <form
        action="#"
        method="get"
        class="input-wrapper input-wrapper-round input-wrapper-inline appear-animate fadeInRightShorter appear-animation-visible"
        data-animation-options="{
              'name':'fadeInRightShorter',
              'delay': '.4s'
          }"
        style="animation-duration: 1.2s"
      >
        <input
          type="email"
          class="form-control app-custom app-email"
          name="email"
          id="email"
          placeholder="Mail adresinizi giriniz..."
          required="required"
        />
        <button class="btn app-custom app-join" type="submit">KATIL</button>
      </form>
    </div>
  </div>
</section>
