<main class="main">
    <div class="container app-page-header">
        <div
          class="page-header"
          style="background-image: url(../../../assets/images/banner/referanslar.jpg)"
        >
          <h1 class="page-title"></h1>
        </div>
      </div>

      <div class="page-content mt-10 pt-7">
        <section class="about-section">
          <div class="container">
            <h2 class="title mb-lg-9">REFERANSLAR</h2>
            
            <div class="row">
                <!-- .col-xs-6 .col-md-4 -->
                <!-- col-xs-1 col-lg-2 mb-4 -->
                <div class="col-xs-6 col-md-2" *ngFor="let item of references">
                    <div class="category2 category-default1 category-absolute banner-radius">
                        <a>
                            <figure class="category-media">
                                <img src="{{item.file}}" alt="{{item.name}}" width="280" height="280">
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- <div class="col-xs-6 col-lg-2 mb-4">
                    <div class="category2 category-default1 category-absolute banner-radius">
                        <a >
                            <figure class="category-media">
                                <img src="../../../assets/images/references/a101-01.png" alt="" width="280" height="280">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-2 mb-4">
                    <div class="category2 category-default1 category-absolute banner-radius ">
                        <a >
                            <figure class="category-media">
                                <img src="../../../assets/images/references/beymen-01.png" alt="" width="280" height="280">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-2 mb-4">
                    <div class="category2 category-default1 category-absolute banner-radius ">
                        <a >
                            <figure class="category-media">
                                <img src="../../../assets/images/references/bim-01.png" alt="" width="280" height="280">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-2 mb-4">
                    <div class="category2 category-default1 category-absolute banner-radius ">
                        <a >
                            <figure class="category-media">
                                <img src="../../../assets/images/references/carrefour.png" alt="" width="280" height="280">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-2 mb-4">
                    <div class="category2 category-default1 category-absolute banner-radius ">
                        <a >
                            <figure class="category-media">
                                <img src="../../../assets/images/references/flo-01.png" alt="" width="280" height="280">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-2 mb-4">
                    <div class="category2 category-default1 category-absolute banner-radius ">
                        <a >
                            <figure class="category-media">
                                <img src="../../../assets/images/references/gratis-01.png" alt="" width="280" height="280">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-2 mb-4">
                    <div class="category2 category-default1 category-absolute banner-radius ">
                        <a >
                            <figure class="category-media">
                                <img src="../../../assets/images/references/halkbank-01.png" alt="" width="280" height="280">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-2 mb-4">
                    <div class="category2 category-default1 category-absolute banner-radius ">
                        <a >
                            <figure class="category-media">
                                <img src="../../../assets/images/references/hm-01.png" alt="" width="280" height="280">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-2 mb-4">
                    <div class="category2 category-default1 category-absolute banner-radius ">
                        <a >
                            <figure class="category-media">
                                <img src="../../../assets/images/references/pepsi-01.png" alt="" width="280" height="280">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-2 mb-4">
                    <div class="category2 category-default1 category-absolute banner-radius ">
                        <a >
                            <figure class="category-media">
                                <img src="../../../assets/images/references/petrol-01.png" alt="" width="280" height="280">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-2 mb-4">
                    <div class="category2 category-default1 category-absolute banner-radius ">
                        <a >
                            <figure class="category-media">
                                <img src="../../../assets/images/references/şekerbank-01.png" alt="" width="280" height="280">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-2 mb-4">
                    <div class="category2 category-default1 category-absolute banner-radius ">
                        <a >
                            <figure class="category-media">
                                <img src="../../../assets/images/references/türktelekom-01.png" alt="" width="280" height="280">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-2 mb-4">
                    <div class="category2 category-default1 category-absolute banner-radius ">
                        <a >
                            <figure class="category-media">
                                <img src="../../../assets/images/references/ülker.png" alt="" width="280" height="280">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-2 mb-4">
                    <div class="category2 category-default1 category-absolute banner-radius ">
                        <a >
                            <figure class="category-media">
                                <img src="../../../assets/images/references/vakko-01.png" alt="" width="280" height="280">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-2 mb-4">
                    <div class="category2 category-default1 category-absolute banner-radius ">
                        <a >
                            <figure class="category-media">
                                <img src="../../../assets/images/references/watsons-01.png" alt="" width="280" height="280">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-2 mb-4">
                    <div class="category2 category-default1 category-absolute banner-radius ">
                        <a >
                            <figure class="category-media">
                                <img src="../../../assets/images/references/yurtiçi-01.png" alt="" width="280" height="280">
                            </figure>
                        </a>
                    </div>
                </div> -->
            </div>
          </div>
        </section>
      </div>
</main>
