<!-- owl-carousel owl-theme owl-nav-full  -->
<div
  #carousel
  class="row cols-xl-4 cols-lg-3 cols-md-3 cols-2"
  data-owl-options="{
    'items': 4,
    'nav': false,
    'loop': false,
    'dots': true,
    'margin': 20,
    'responsive': {
        '0': {
            'items': 2
        },
        '768': {
            'items': 3
        },
        '992': {
            'items': 4,
            'dots': false,
            'nav': true
        }
    }
  }"
>
  <app-product-slide [productTypeName]="productTypeName"
    *ngFor="let product of products; let i = index"
    [product]="product"
  ></app-product-slide>
</div>
