<section class="row gutter-no intro-banners">
  <div class="app-custom app-info">
    <h2 class="title title-simple text-center">SEKTÖREL KULLANIMLAR</h2>
    <div class="text-center">
      <span class="app-custom app-subtitle"
        >Ürünlerimiz farklı iş alanlarının, farklı yerlerinde
        kullanılmaktadır.</span
      >
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div
      class="category1 category category-absolute category-banner overlay-zoom app-custom app-category"
      style="background-color: #a6a6a6"
    >
      <a href="#">
        <figure class="category-media app-custom app-category-media">
          <img
            class="app-custom app-image"
            src="assets/images/ofis.png"
            alt="banner"
            width="480"
            height="328"
          />
        </figure>
      </a>
      <div
        class="category-content y-50 appear-animate fadeIn appear-animation-visible app-custom app-center"
        style="animation-duration: 1.2s"
      >
        <div class="app-custom app-box">
          <h1 class="category-name font-weight-bold text-uppercase">OFİS</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div
      class="category1 category category-absolute category-banner overlay-zoom app-custom app-category"
      style="background-color: #a6a6a6"
    >
      <a href="#">
        <figure class="category-media app-custom app-category-media">
          <img
            class="app-custom app-image"
            src="assets/images/depo.png"
            alt="banner"
            width="480"
            height="328"
          />
        </figure>
      </a>
      <div
        class="category-content y-50 appear-animate fadeIn appear-animation-visible app-custom app-center"
        style="animation-duration: 1.2s"
      >
        <div class="app-custom app-box">
          <h1 class="category-name font-weight-bold text-uppercase">DEPO</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div
      class="category1 category category-absolute category-banner overlay-zoom app-custom app-category"
      style="background-color: #a6a6a6"
    >
      <a href="#">
        <figure class="category-media app-custom app-category-media">
          <img
            class="app-custom app-image"
            src="assets/images/dukkan.png"
            alt="banner"
            width="480"
            height="328"
          />
        </figure>
      </a>
      <div
        class="category-content y-50 appear-animate fadeIn appear-animation-visible app-custom app-center"
        style="animation-duration: 1.2s"
      >
        <div class="app-custom app-box">
          <h1 class="category-name font-weight-bold text-uppercase">DÜKKAN</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div
      class="category1 category category-absolute category-banner overlay-zoom app-custom app-category"
      style="background-color: #a6a6a6"
    >
      <a href="#">
        <figure class="category-media app-custom app-category-media">
          <img
            class="app-custom app-image"
            src="assets/images/sokak.png"
            alt="banner"
            width="480"
            height="328"
          />
        </figure>
      </a>
      <div
        class="category-content y-50 appear-animate fadeIn appear-animation-visible app-custom app-center"
        style="animation-duration: 1.2s"
      >
        <div class="app-custom app-box">
          <h1 class="category-name font-weight-bold text-uppercase">CADDE</h1>
        </div>
      </div>
    </div>
  </div>
</section>
